@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.tpg-form-wrapper{
 	padding: 20px 10px;
	background: transparent;
	font-family: 'Open Sans', sans-serif;
}

.tpg-form-wrapper__form,
.tpg-form-wrapper__form * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.tpg-form-wrapper__form {
	container: embeddedForm / inline-size;
	max-width: 992px;
	width: 100%;
	margin: 0 auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	gap: 20px;
}

.tpg-form-wrapper__input-wrapper {
	display: block;
	width: -webkit-calc(50% - 15px);
	width: -moz-calc(50% - 15px);
	width: calc(50% - 15px);
	position: relative;
}

.tpg-form-wrapper__options-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
}

.tpg-form-wrapper__checkboxes-container,
.tpg-form-wrapper__radio-buttons-container {
	width: calc(50% - 10px);
}

.tpg-form-wrapper__checkbox-heading,
.tpg-form-wrapper__radio-heading {
	width: 100%;
	margin-inline: 0;
	margin-block: 16px;
	color: #13056b;
	font-size: 20px;
}

.tpg-form-wrapper__checkbox-list,
.tpg-form-wrapper__radio-list {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	gap: 10px;
}
.tpg-form-wrapper__radio-list label, .tpg-form-wrapper__checkbox-item label {
	color: rgba(19, 5, 107, 1) !important;
	font-weight: 600;

}
.tpg-form-wrapper__checkbox-item {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.tpg-form-wrapper__radio-item {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.tpg-form-wrapper__input-wrapper label {
	display: block !important;
	color: #13056b !important;
	font-size: 14px;
	font-weight: 600 !important;
}

.tpg-form-wrapper__input-wrapper input:not(:-moz-placeholder-shown) + label {
	top: 0;
	font-size: 12px;
	color: #4b57e7;
	background-color: #fff;
	padding: 0 5px;
}

.tpg-form-wrapper__input-wrapper input:not(:-ms-input-placeholder) + label {
	top: 0;
	font-size: 12px;
	color: #4b57e7;
	background-color: #fff;
	padding: 0 5px;
}

.tpg-form-wrapper__input-wrapper input:focus + label,
.tpg-form-wrapper__input-wrapper input:not(:placeholder-shown) + label {
	top: 0;
	font-size: 12px;
	color: #4b57e7;
	background-color: #fff;
	padding: 0 5px;
}

.tpg-form-wrapper__input-wrapper input {
    width: 100% !important;
    padding: 10px !important;
    border: 1px solid #4b57e7 !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px;
    border-radius: 5px !important;
    outline-color: #4b57e7 !important;
    height: 45px !important;
    margin-top: 6px !important;
}

.tpg-form-wrapper__input-wrapper--error input {
	border-color: #dc3545 !important;
	outline-color: #dc3545 !important;
}

.tpg-form-wrapper__input-wrapper input::-webkit-input-placeholder {
	color: rgb(100, 100, 100);
	font-weight: 600;
}

.tpg-form-wrapper__input-wrapper input:-moz-placeholder {
	color: rgb(100, 100, 100);
	font-weight: 600;
}

.tpg-form-wrapper__input-wrapper input::-moz-placeholder {
	color: rgb(100, 100, 100);
	font-weight: 600;
}

.tpg-form-wrapper__input-wrapper input:-ms-input-placeholder {
	color: rgb(100, 100, 100);
	font-weight: 600;
}

.tpg-form-wrapper__input-wrapper input::-ms-input-placeholder {
	color: rgb(100, 100, 100);
	font-weight: 600;
}

.tpg-form-wrapper__input-wrapper input::placeholder {
	color: rgb(100, 100, 100);
	font-weight: 600;
}

.tpg-form-wrapper__checkbox-item label,
.tpg-form-wrapper__radio-item label {
	padding-left: 10px !important;
	color: #13056b !important;
	font-weight: 600;
}

.tpg-form-wrapper__submit-button {
    width: 100%;
    max-width: 250px;
    display: block;
    margin-top: 16px;
    padding: 15px 20px !important;
    background-color: #4b57e7 !important;
    -webkit-border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    border-radius: 6px !important;
    color: #fff !important;
    border: none !important;
    font-weight: bold !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    text-align: center !important;
    font-size: 20px;
}

.tpg-form-wrapper__submit-button:disabled {
	opacity: 0.65;
}

.tpg-form-wrapper__submit-button:hover {
	background-color: #404dd7 !important;
	opacity: 0.9 !important;
}

.tpg-form-wrapper__submit-button:disabled:hover {
	background-color: #4b57e7;
	opacity: 0.65;
}
.tpg-form-wrapper_user-agreement{
	color: black;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}
.tpg-form-wrapper__divider{
 color: red !important;
 width: 100% !important;
 border: none;
 height: 1px;
 background-color: #7400f8;
}
.tpg-form-wrapper__agreement-checkbox-wrapper {
	margin-top: 16px;
	margin-inline: auto;
}

.grecaptcha-badge {
	display: none !important;
}

@container embeddedForm (max-width: 768px) {
	.tpg-form-wrapper__input-wrapper,
	.tpg-form-wrapper__checkboxes-container,
	.tpg-form-wrapper__radio-buttons-container,
	.tpg-form-wrapper__agreement-checkbox-wrapper,
	.tpg-form-wrapper__submit-button {
		width: 100%;
	}
}

.tpg-form-wrapper__alert-message {
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
}


.tpg-form-wrapper__bottom-container{
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
}